[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
bs4 = "*"
langchain = "*"
chromadb = "*"
langchainhub = "*"
huggingface-hub = "*"
google-search-results = "*"
tiktoken = "*"
wikipedia = "*"
numexpr = "*"
openai = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
