[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
langchain = "*"
langchain_community = "*"
langchain_core = "*"
langchain_experimental = "*"

[dev-packages]

[requires]
python_version = "3.11"
