[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
chromadb = "*"
langchain = "*"
langchain-community = "*"
langchain-groq = "*"
langchain-openai = "*"
langchainhub = "*"
librosa = "*"
playwright = "*"
pydub = "*"
python-dotenv = "*"
pytube = "*"
unstructured = "*"
torch = "*"
tiktoken = "*"
transformers = "*"
youtube-transcript-api = "*"
yt_dlp = "*"
sentence-transformers = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
